<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ComponentRegistry" type="Sphere10.Framework.Application.GenericSectionHandler, Sphere10.Framework.Application"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>

  <ComponentRegistry>
    <!-- Assemblies to pre-load -->
    <!--<Assembly dll="Sphere10.Framework.Application.dll"/>
    <Assembly dll="Sphere10.Windows.WinForms.dll"/>-->
    
    <!-- Application Initialize Tasks -->
    <ComponentSet interface="IApplicationInitializeTask">
      <Component implementation="StandardProductUsageProvider+Initializer"/>
      <Component implementation="IncrementUsageByOneTask"/>
      <Component implementation="RegisterSettingsViaIocTask"/>
    </ComponentSet>
    
    <!-- Application Start Tasks -->
    <MultipleComponents interface="IApplicationStartTask">
    </MultipleComponents>
    
    <!-- Application End Tasks-->
    <MultipleComponents interface="IApplicationEndTask">
      <Component implementation="SaveSettingsEndTask"/>
    </MultipleComponents>
  </ComponentRegistry>
</configuration>
