<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name ="ComponentRegistry" type ="Sphere10.Framework.GenericSectionHandler, Sphere10.Framework"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>

  <ComponentRegistry>
    <!-- Assemblies to pre-load -->
    <Assembly dll="Sphere10.Application.dll" />
    
    <!-- Sphere 10 Framework Components -->
    <Component interface="IBackgroundLicenseVerifier"   implementation="StandardBackgroundLicenseVerifier" />
    <Component interface="ISettingsServices"            implementation="StandardUserSettingsProvider"     activation="Singleton" resolveParam="UserSettings" />
    <Component interface="ISettingsServices"            implementation="StandardSystemSettingsProvider"   activation="Singleton" resolveParam="SystemSettings" />
    <Component interface="IConfigurationServices"       implementation="StandardConfigurationServices"    activation="Singleton" />
    <Component interface="IDuplicateProcessDetector"    implementation="StandardDuplicateProcessDetector" />
    <Component interface="IHelpServices"                implementation="StandardHelpServices" />
    <Component interface="ILicenseEnforcer"             implementation="StandardLicenseEnforcer"          activation="Singleton" />
    <Component interface="ILicenseKeyDecoder"           implementation="StandardLicenseKeyDecoder" />
    <Component interface="ILicenseKeyValidator"         implementation="StandardLicenseKeyValidatorWithVersionCheck" />
    <Component interface="ILicenseKeyEncoder"           implementation="StandardLicenseKeyEncoder" />
    <Component interface="ILicenseKeyServices"          implementation="StandardLicenseKeyProvider" />
    <Component interface="ILicenseServices"             implementation="StandardLicenseServices"          activation="Singleton" />
    <Component interface="IProductInformationServices"  implementation="StandardProductInformationServices" activation="Singleton" />
    <Component interface="IProductInstancesCounter"     implementation="StandardProductInstancesCounter" />
    <Component interface="IProductUsageServices"        implementation="StandardProductUsageProvider"     activation="Singleton" />
    <Component interface="ISphere10SoftwareService2"    implementation="SoftwareService2WebServiceClient" />
    <Component interface="IWebsiteLauncher"             implementation="StandardWebsiteLauncher" />
    
    <!-- Application Initialize Tasks -->
    <ComponentSet interface="IApplicationInitializeTask">
      <Component implementation="StandardProductUsageProvider+Initializer" />
      <Component implementation="IncrementUsageByOneTask" />
      <Component implementation="RegisterSettingsViaIocTask" />
    </ComponentSet>
    
    <!-- Application Start Tasks -->
    <MultipleComponents interface="IApplicationStartTask">
    </MultipleComponents>
    
    <!-- Application End Tasks-->
    <MultipleComponents interface="IApplicationEndTask">
      <Component implementation="SaveSettingsEndTask" />
    </MultipleComponents>
  </ComponentRegistry>
</configuration>